<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<header class="jumbotron">
  <div class="container">
    <h1>ghlint <small><span class="label label-info">{{version}}</span></small></h1>
    <p>A linter for GitHub projects</p>
  </div>
</header>

<section class="container">
  <h1>Usage:</h1>
  <ol>
    <li><strong>HTML</strong> output: <a href="/lint/pdehaan/ghlint-www/html">/lint/pdehaan/ghlint-www/html</a></li>
    <li><strong>JSON</strong> output: <a href="/lint/pdehaan/ghlint-www">/lint/pdehaan/ghlint-www</a></li>
  </ol>

  <hr/>

  <p class="text-center"><small>Powered by <a href="https://www.npmjs.com/package/ghlint">ghlint</a>.</small></p>
</section>
