<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<article class="jumbotron">
  <header class="container">
    <h1><i class="fa fa-github"></i> <a href="https://github.com/{{ownerRepo}}">{{ownerRepo}}</a></h1>
  </header>
</article>

<div class="container">
  {{#if results}}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Issues:</h2>
      </div>
      <div class="panel-body">
        <ul>
        {{#each results}}
          <li>{{.}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <div class="alert alert-success" role="alert">
      <h2 class="text-center">No issues found!</h2>
    </div>
  {{/if}}

  <hr/>
  <nav role="navigation">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/lint/{{ownerRepo}}">View as JSON</a></li>
      <li><a href="http://www.changedetection.com/">Monitor page using changedetection.com</a></li>
    </ul>
  </nav>
</div>
